<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cesta de la Compra</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<div class="cart-container">
    <h2>Cesta de la Compra</h2>
    
    <div th:if="${cart.producto == null}">
        <p>No hay productos en la cesta.</p>
    </div>

    <ul th:unless="${cart.producto == null}">
        <li><strong>Nombre:</strong> <span th:text="${cart.producto.nombre}"></span></li>
        <li><strong>Precio:</strong> <span th:text="${cart.producto.precio}"></span> €</li>
        <li><strong>Descripción:</strong> <span th:text="${cart.producto.descripcion}"></span></li>
    </ul>
    <button onclick="location.href='/'" type="button">Home</button>
    <button onclick="history.back()" type="button">Volver</button>
    
</div>

</body>
</html>