<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar Flor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header>
        <h1>Editar Flor</h1>
    </header>
    <main>
        <!-- Mostrar mensaje de error si existe -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/flor/editar/guardar}" th:object="${flor}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />
            </div>

            <div class="form-group">
                <label for="descripcion" class="textarea-label">Descripción:</label>
                <textarea id="descripcion" name="descripcion" th:field="*{descripcion}"></textarea>
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" th:field="*{precio}" step="0.01" required />
            </div>

            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" th:field="*{stock}" required />
            </div>

            <div class="form-group">
                <label for="imagen">Imagen de la Flor:</label>
                <img th:src="@{/flores/image/{id}(id=${flor.id})}" class="product-img" alt="Imagen de la flor" style="max-width: 100px; height: auto;" />
                <input type="hidden" id="imagen" name="imagen" th:field="*{imagen}" />
            </div>

            <div class="form-group">
                <label for="imagenArchivo">Cambiar Imagen de la Flor:</label>
                <input type="file" id="imagenArchivo" name="imagenArchivo" accept="image/*" />
            </div>

            <br />
            <div class="form-group">
                <button type="submit" class="submit-button">Guardar Flor</button>
            </div>
        </form>
        <form th:action="@{/mycatalog}" method="get" style="display: inline;">
            <button type="submit">Mi catálogo</button>
        </form>
    </main>
</body>

</html>