<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar Producto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header th:replace="layout :: header">
        <h1>Editar producto</h1>
    </header>
    <main>
        <!-- Mostrar mensaje de error si existe -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/producto/editar/guardar}" th:object="${producto}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:field="*{nombre}"required />
            </div>

            <div class="form-group">
                <label for="descripcion" class="textarea-label">Descripción:</label>
                <textarea id="descripcion" name="descripcion" th:field="*{descripcion}" required></textarea>
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" th:field="*{precio}" step="0.01" required />
            </div>

            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" th:field="*{stock}" required />
            </div>

            <div class="form-group">
                <label for="imagen">Imagen del Producto:</label>
                <img th:src="@{/producto/image/{id}(id=${producto.id})}" class="product-img" alt="Imagen del producto" style="max-width: 100px; height: auto;" />
                <input type="hidden" id="imagen" name="imagen" th:field="*{imagen}" />
            </div>

            <div class="form-group">
                <label for="imagenArchivo">Cambiar Imagen del Producto:</label>
                <input type="file" id="imagenArchivo" name="imagenArchivo" accept="image/*" />
            </div>

            <div class="form-group">
                <label for="ocasion">Ocasión:</label>
                <select id="ocasion" name="ocasion" th:field="*{ocasion}">
                    <option th:each="ocasion : ${T(es.upm.dit.isst.isstgrupo07flores.model.Producto.Ocasiones).values()}"
                            th:value="${ocasion}" th:text="${ocasion}">
                    </option>
                </select>
            </div>
            <br/>
            <div class="form-group">
                <button type="submit" class="submit-button">Guardar Producto</button>
            </div>
        </form>
        <form th:action="@{/mycatalog}" method="post" style="display: inline;">
            <button type="submit">Mi catálogo</button>
        </form>
    </main>
</body>

</html>