<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Flor.es</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header th:fragment="header" style="background-color: #3d760d; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
        <img th:src="@{/img/flor.es_logo.png}" alt="Flor.es Logo" style="height: 70px; cursor: pointer;" onclick="location.href='/'" />
        <nav>
            <button onclick="location.href='/catalog/search'" sec:authorize="hasRole('CLIENTE') or isAnonymous()" type="button" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;"><i class="bi bi-search"></i></button>
            <button onclick="location.href='/pedido/cliente'" sec:authorize="hasRole('CLIENTE')" type="button" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;"><i class="bi bi-box"></i></button>
            <button onclick="location.href='/pedido/floricultor'" sec:authorize="hasRole('FLORICULTOR')" type="button" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;"><i class="bi bi-box"></i></button>
            <button onclick="location.href='/cart/view'" sec:authorize="hasRole('CLIENTE')" type="button" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;">
                <i class="bi bi-cart"></i> 
            </button>
            <button onclick="location.href='/login'" th:if="${#authentication.name == 'anonymousUser'}" type="button" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;">Iniciar sesión</button>
            <form th:action="@{/logout}" method="post" th:if="${#authentication.name != 'anonymousUser'}" style="display: inline;">
                <button type="submit" style="background-color: #d0eac4; color: #3d760d; border: none; padding: 10px 20px; margin: 5px; cursor: pointer; border-radius: 5px;">Cerrar sesión</button>
            </form>
        </nav>
    </header>
    <main>
    </main>
    <footer th:fragment="footer">
        <p>&copy; 2025 Flor.es - Todos los derechos reservados</p>
    </footer>
</body>
</html>