<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Pedido</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <header>
        <h1>Crear un nuevo pedido</h1>
    </header>
    <main>
        <form th:action="@{/pedido/create}" method="post" class="pedido-form">
            <div class="form-group">
                <label for="toggleDireccion">Entrega en local:</label>
                <input type="checkbox" id="entregaEnLocal" onclick="toggleDireccionEntrega()" />
                <input type="hidden" id="entregaEnLocalHidden" name="entregaEnLocal" value="false" />
            </div>
            <script>
                function toggleDireccionEntrega() {
                    const direccionInput = document.getElementById('direccionEntrega');
                    direccionInput.disabled = !direccionInput.disabled;
                    direccionInput.style.backgroundColor = direccionInput.disabled ? '#d3d3d3' : ''; // Cambia el color de fondo
                    const hiddenField = document.getElementById('entregaEnLocalHidden');
                    const checkbox = document.getElementById('entregaEnLocal');
                    hiddenField.value = checkbox.checked; // Actualiza el valor a true o false
                }
            </script>
            <div class="form-group">
                <label for="entregaEnFecha">Programar entrega en fecha específica:</label>
                <input type="checkbox" id="entregaEnFecha" name="entregaEnFecha" onclick="toggleFechaEntrega()" />
                <input type="date" id="fechaEntrega" name="fechaEntrega" disabled style="display: none;"/>
                <label for="entregaUrgente" id="lableUrgente" style="display: none;">Entrega urgente</label>
                <input type="checkbox" id="entregaUrgente" name="entregaUrgente" style="display: none;"/>
                <input type="hidden" id="entregaUrgenteHidden" name="entregaUrgente" disabled value="false" />
            </div>
            <script>
                const hoy = new Date().toISOString().split('T')[0];
                document.getElementById("fechaEntrega").setAttribute('min', hoy);
                function toggleFechaEntrega() {
                    const fechaEntrega = document.getElementById('fechaEntrega');
                    const entregaUrgente = document.getElementById('entregaUrgente');
                    const hiddenField = document.getElementById('entregaUrgenteHidden');
                    const labelUrgente = document.getElementById('lableUrgente');
                    hiddenField.disabled = !hiddenField.disabled;
                    fechaEntrega.disabled = !fechaEntrega.disabled;

                    if (document.getElementById('entregaEnFecha').checked) {
                        fechaEntrega.style.display = 'inline'; // Muestra el campo
                        entregaUrgente.style.display = 'inline'; // Muestra el campo
                        labelUrgente.style.display = 'inline'; // Muestra la etiqueta
                    } else {
                        fechaEntrega.style.display = 'none'; // Oculta el campo
                        entregaUrgente.style.display = 'none'; // Oculta el campo
                        labelUrgente.style.display = 'none'; // Oculta la etiqueta
                    }
                }
            </script>
            <div class="form-group">
                <label for="direccionEntrega">Dirección de Entrega:</label>
                <input type="text" id="direccionEntrega" name="direccionEntrega" required />
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button" style="width:130px; margin-top:10px;">Confirmar Pedido</button>
            </div>
        </form>
        <button onclick="location.href='/cart/view'" type="button" style="width:130px;">Volver a la cesta</button>
    </main>
</body>
</html>
