<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <h1>Agregar un nuevo producto</h1>
    </header>
    <main>
        <!-- Mostrar mensaje de error si existe -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/producto/add}" th:object="${producto}" method="post" class="product-form">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />
            </div>

            <div class="form-group">
                <label for="descripcion" class="textarea-label">Descripción:</label>
                <textarea id="descripcion" name="descripcion" th:field="*{descripcion}" required></textarea>
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" th:field="*{precio}" step="0.01" required />
            </div>

            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" th:field="*{stock}" required />
            </div>

            <div class="form-group">
                <label for="urlImg">URL de la imagen:</label>
                <input type="text" id="urlImg" name="urlImg" th:field="*{urlImg}" required />
            </div>

            <div class="form-group">
                <label for="ocasion">Ocasión:</label>
                <select id="ocasion" name="ocasion" th:field="*{ocasion}">
                    <option th:each="ocasion : ${T(es.upm.dit.isst.isstgrupo07flores.model.Producto.Ocasiones).values()}"
                            th:value="${ocasion}" th:text="${ocasion}">
                    </option>
                </select>
            </div>
            <br/>
            <div class="form-group">
                <button type="submit" class="submit-button">Guardar Producto</button>
            </div>
        </form>
        <button onclick="location.href='/'" type="button">Home</button>
    </main>
</body>

</html>