<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${producto.nombre}">Detalle del Producto</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<div class="product-container">
    <h2 th:text="${producto.nombre}">Nombre del Producto</h2>
    <img th:src="${producto.urlImg}" alt="Imagen del producto" class="product-img"/>
    <p><strong>Descripción:</strong> <span th:text="${producto.descripcion}"></span></p>
    <p><strong>Precio:</strong> <span th:text="${producto.precio}"></span> €</p>
    <p><strong>Stock disponible:</strong> <span th:text="${producto.stock}"></span></p>

    <form th:action="@{/cart/add/{productId}(productId=${producto.id})}" method="post">
        <button type="submit" class="btn">Añadir a la cesta</button>
    </form>
    <button onclick="location.href='/cart/view'" type="button">Ver Cesta</button>
    <button onclick="location.href='/'" type="button">Home</button>

</div>

</body>
</html>